<!DOCTYPE html>
<html lang="en">
  <!--- base.njk ---> 
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{'/styles/style.css' | prefixedUrl }}">
    
    </head>
   <body>
  {% include "nav.njk" %}

 
  <img src="{{ '/assets/logos/melisalogo.png' }}" alt="melisa" 
    style="width:220px;height:150px;">
  
  <main>{{ content | safe }}</main>
 


<ul class="posts-list">
	<!-- loops through all of our md files with the tag 'post' --> 
  {% for post in collections.post %}
  <li><a href="{{ post.url | prefixedUrl}}">{{ post.data.title }}</a> – {{ post.date | readableDate  }}</li>
  {% endfor %}
</ul>

 {% include "footer.njk" %}

</body>

</html>