<!DOCTYPE html>
<html lang="en">
  <!--- base.njk ---> 
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{'/styles/style.css' | prefixedUrl }}">
    
    </head>
   <body>
  {% include "nav.njk" %}

 
  <img src="{{ '/assets/logos/melisalogo.png' }}" alt="melisa" class="logo">
  
  <h1 class="h1main">{{ title }}</h1>
  <img src="{{ '/assets/images/IMG_4738.jpg' }}" alt="little me" 
    width="200"
    height="auto"
    style="margin: 0px 10px; "
    >
  <main>{{ content | safe }}</main>
 
  



 {% include "footer.njk" %}

</body>

</html>