<!DOCTYPE html>
<html lang="en">
  <!--- base.njk ---> 
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{'/styles/style.css' | prefixedUrl }}">
    
    </head>
   <body>
  {% include "nav.njk" %}

 
  <img src="{{ '/assets/logos/melisalogo.png' }}" alt="melisa" class="logo2">
  
  <main>
  <article>
    <h1 class="h1post">{{title}}</h1>
    <p><em>{{ date | readableDate }}</em></p>
 {{ content | safe }}
  </article>
  </main>


 {% include "footer.njk" %}
</body>

</html>