<!--- pulls in content from our base.njk layout ---> 
{% extends "base.njk" %}

<!-- block and endblock tags can be used when we want to inject custom code into our template -->
{% block content %}
  <article>
    <h2>{{ title }}</h2>
    <p><em>{{ date }}</em></p>
    {{ content | safe }}
  </article>
{% endblock %}
